:root {
  --body-bg: #c4dfe6;

  --header-bg: #66a5ad;
  --header-text: #003b46;

  --main-bg: #c4dfe6;
  --main-title-text: #003b46;

  --card-bg: #e3ebec;
  --card-text: #003b46;
}
.main-content {
  background-color: var(--main-bg);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 30px;
}
.main-content__title {
  color: var(--main-title-text);
  margin: 0 0 20px 0;
  padding: 10px;
  margin: 0%;
}

.profilpicture {
  padding: 20px 10px;
}