.main-content {
  background-color: var(--main-bg);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 30px;
}
.main-content__title {
  color: var(--main-title-text);
  margin: 0 0 20px 0;
  padding: 10px;
  margin: 0%;
}
a {
  padding: 5px 10px;
}
.profilpicture {
  padding: 20px 10px;
}
.about-text {
  padding: 10px;
  color: var(--main-title-text);
}
.header {
  background-color: var(--header-bg);
  color: var(--header-text);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 10px;
}
.active {
  background-color: var(--main-bg);
  border-radius: 5px;
}
.footer {
  background: var(--header-bg);
  color: var(--header-text);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
