@import "./theme.css";
@import "./main.css";
@import "./question-card.css";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background-color: var(--body-bg);
}
