.button-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.question-card__answer-button {
  border-radius: 5px;
  background-color: var(--header-bg);
  color: var(--main-bg);
  border: 1px;
  font-size: large;
}
.question-card__bookmark-button {
  background-image: "./assets/bookmark-check";
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: transparent;
  border: none;
}
